<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pei.mapper.BlogCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.pei.pojo.BlogCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modifier_id" property="modifierId" jdbcType="INTEGER" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="hided" property="hided" jdbcType="BIT" />
    <result column="published" property="published" jdbcType="BIT" />
    <result column="sync_status" property="syncStatus" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="slug" property="slug" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="icon_path" property="iconPath" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="views_count" property="viewsCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pei.pojo.BlogCategory" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, creator_id, created_time, modifier_id, modified_time, hided, published, sync_status, 
    order, name, slug, icon_url, icon_path, parent_id, views_count
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>


  <!--list 所有分类信息-->
  <select id="list" resultMap="BaseResultMap">
    SELECT * FROM blog_category
  </select>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pei.pojo.BlogCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pei.pojo.BlogCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pei.pojo.BlogCategoryExample" >
    delete from blog_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pei.pojo.BlogCategory" >
    insert into blog_category (id, creator_id, created_time, 
      modifier_id, modified_time, hided, 
      published, sync_status, order, 
      name, slug, icon_url, 
      icon_path, parent_id, views_count, 
      description)
    values (#{id,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=INTEGER}, #{modifiedTime,jdbcType=TIMESTAMP}, #{hided,jdbcType=BIT}, 
      #{published,jdbcType=BIT}, #{syncStatus,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{iconPath,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{viewsCount,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pei.pojo.BlogCategory" >
    insert into blog_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="modifierId != null" >
        modifier_id,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="hided != null" >
        hided,
      </if>
      <if test="published != null" >
        published,
      </if>
      <if test="syncStatus != null" >
        sync_status,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="slug != null" >
        slug,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="iconPath != null" >
        icon_path,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="viewsCount != null" >
        views_count,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hided != null" >
        #{hided,jdbcType=BIT},
      </if>
      <if test="published != null" >
        #{published,jdbcType=BIT},
      </if>
      <if test="syncStatus != null" >
        #{syncStatus,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null" >
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null" >
        #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="viewsCount != null" >
        #{viewsCount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pei.pojo.BlogCategoryExample" resultType="java.lang.Integer" >
    select count(*) from blog_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blog_category
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creatorId != null" >
        creator_id = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierId != null" >
        modifier_id = #{record.modifierId,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hided != null" >
        hided = #{record.hided,jdbcType=BIT},
      </if>
      <if test="record.published != null" >
        published = #{record.published,jdbcType=BIT},
      </if>
      <if test="record.syncStatus != null" >
        sync_status = #{record.syncStatus,jdbcType=INTEGER},
      </if>
      <if test="record.order != null" >
        order = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.slug != null" >
        slug = #{record.slug,jdbcType=VARCHAR},
      </if>
      <if test="record.iconUrl != null" >
        icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.iconPath != null" >
        icon_path = #{record.iconPath,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.viewsCount != null" >
        views_count = #{record.viewsCount,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update blog_category
    set id = #{record.id,jdbcType=INTEGER},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_id = #{record.modifierId,jdbcType=INTEGER},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      hided = #{record.hided,jdbcType=BIT},
      published = #{record.published,jdbcType=BIT},
      sync_status = #{record.syncStatus,jdbcType=INTEGER},
      order = #{record.order,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      slug = #{record.slug,jdbcType=VARCHAR},
      icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      icon_path = #{record.iconPath,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      views_count = #{record.viewsCount,jdbcType=INTEGER},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blog_category
    set id = #{record.id,jdbcType=INTEGER},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modifier_id = #{record.modifierId,jdbcType=INTEGER},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      hided = #{record.hided,jdbcType=BIT},
      published = #{record.published,jdbcType=BIT},
      sync_status = #{record.syncStatus,jdbcType=INTEGER},
      order = #{record.order,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      slug = #{record.slug,jdbcType=VARCHAR},
      icon_url = #{record.iconUrl,jdbcType=VARCHAR},
      icon_path = #{record.iconPath,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      views_count = #{record.viewsCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pei.pojo.BlogCategory" >
    update blog_category
    <set >
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        modifier_id = #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hided != null" >
        hided = #{hided,jdbcType=BIT},
      </if>
      <if test="published != null" >
        published = #{published,jdbcType=BIT},
      </if>
      <if test="syncStatus != null" >
        sync_status = #{syncStatus,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null" >
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null" >
        icon_path = #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="viewsCount != null" >
        views_count = #{viewsCount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pei.pojo.BlogCategory" >
    update blog_category
    set creator_id = #{creatorId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      hided = #{hided,jdbcType=BIT},
      published = #{published,jdbcType=BIT},
      sync_status = #{syncStatus,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      icon_path = #{iconPath,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      views_count = #{viewsCount,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pei.pojo.BlogCategory" >
    update blog_category
    set creator_id = #{creatorId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      hided = #{hided,jdbcType=BIT},
      published = #{published,jdbcType=BIT},
      sync_status = #{syncStatus,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      icon_path = #{iconPath,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      views_count = #{viewsCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>